<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RefreshTestServlet</servlet-name>
    <servlet-class>minhaihuang.httpResponseDemo.test01.RefreshTestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>minhaihuang.httpResponseDemo.test01.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EncodingTestServlrt</servlet-name>
    <servlet-class>minhaihuang.httpResponseDemo.test01.EncodingTestServlrt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownloadServerServlet</servlet-name>
    <servlet-class>minhaihuang.httpResponseDemo.test01.DownloadServerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BroswerDownLoadServlet</servlet-name>
    <servlet-class>minhaihuang.httpResponseDemo.downLoad.BroswerDownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckNumberServlet</servlet-name>
    <servlet-class>minhaihuang.httpResponseDemo.checkNumber.CheckNumberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Referer</servlet-name>
    <servlet-class>minhaihuang.httpResponseDemo.test01.Referer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshTestServlet</servlet-name>
    <url-pattern>/RefreshTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EncodingTestServlrt</servlet-name>
    <url-pattern>/EncodingTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServerServlet</servlet-name>
    <url-pattern>/DownloadServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BroswerDownLoadServlet</servlet-name>
    <url-pattern>/BroswerDownLoad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckNumberServlet</servlet-name>
    <url-pattern>/CheckNumber</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Referer</servlet-name>
    <url-pattern>/servlet/Referer</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>